body {
    background-image: url('https://wallpaperaccess.com/full/1155197.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pale-blue-box {
    padding: 10px;
    border-radius: 5px;
    background-color: rgba(73, 157, 144, 0.7); /* Pale blue color with 70% opacity */
}

a {
    color: #f0f0f0;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.headertitles {
    background: #2eb8b8;
    height: 12%;
    width: 12%;
    border: solid;
    border-color: #008080;
    border-width: 8px;
    margin: auto;
    text-align: center;
    font-size: 17px;
    color: white;
    padding: 1px;
}

.bodytext {
    opacity: 0.9;
    background: white;
    color: teal;
    margin-left: 8vw;
    margin-right: 8vw;
    font-size: 16px;
    text-align: center;
}

.topnav {
    background-color: #333;
    overflow
